body {
    background-image: url(animated.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

.links li {
    display: inline;
    padding: 0 12px;
}

.links li a {
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #ffff;
    
}

.links {
    padding: 14px 0;
    text-align: center;
}

.links li:hover {
    box-shadow: 5px 5px 10px #000000;
    background-color: #04040463;
        color: white;
}

img {
    height: 300px;
    border-radius: 50%;
    margin-bottom: 30px;
}

img:hover {
    transition: transform 0.3s ease-in-out;
        transform: scale(1.1);
}


.frase h1 {
    font-size: 40px;
    color: white;
    font-style: italic;
}

.frase p {
    color: white;
    font-size: 30px;
    padding-top: 0px;
    text-align: center;
}

.frase {
    display: inline;
    text-align: center;
    margin-bottom: 10px;
}

.primeirasecao {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 0px;
    color: #ffff;
    background-color: rgba(30, 8, 116, 0.966);
    border: 10px solid rgba(30, 8, 116, 0.966);
    border-radius: 30px;
    opacity: 70%;
    text-align: center;
    padding: 10px;
    margin: 0px auto;
}

.primeirasecao:hover {
        box-shadow: 5px 5px 10px #000000;
        background-color: #ffff;
        color: #000000;
    }

.primeirasecao p {
    text-align: center;
    font-size: 28px;
}

.html {
    color: orangered;
}

.css {
    color:rgb(8, 97, 241);
}

.js {
    color: yellow;
}

.py {
    color: rgb(236, 236, 68);
}

.sql {
    color: orangered;
}

p {
    text-align: justify;
}

.icons {
    padding: 10px;
    font-size: 40px;
}

.icons:hover {
    transition: transform 0.3s ease-in-out;
        transform: scale(1.1);
}

.apresentacao {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 0px;
    color: #ffff;
    background-color: rgba(30, 8, 116, 0.966);
    border: 10px solid rgba(30, 8, 116, 0.966);
    border-radius: 30px;
    opacity: 70%;
    text-align: center;
    padding: 10px;
    border-width: 50%;
    margin-top: 60px;
}

.apresentacao:hover {
    box-shadow: 5px 5px 10px #000000;
    background-color: #ffff;
    color: #000000;
}

.apresentacao p {
    text-align: center;
    font-size: 27px;
}

.apresentacao2 {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 0px;
    color: #ffff;
    background-color: rgba(30, 8, 116, 0.966);
    border: 10px solid rgba(30, 8, 116, 0.966);
    border-radius: 30px;
    opacity: 70%;
    text-align: center;
    padding: 10px;
    border-width: 50%;
    margin-top: 60px;
}

.apresentacao2:hover {
    box-shadow: 5px 5px 10px #000000;
        background-color: #ffff;
        color: #000000;
}

.apresentacao2 p {
    font-size: 28px;
}

.projetos {
    color: black;
    background-color: #ffff;
    border: 10px solid #ffff;
    border-radius: 30px;
    opacity: 70%;
    text-align: center;
    padding: 10px;
    border-width: 50%;
    margin-top: 60px;
}

.imagensprojetos {
    text-align: center;
    display: inline;
}

.imagensprojetos:hover {
        transition: transform 0.3s ease-in-out;
        transform: scale(1.1);
}

.imagensprojetos a {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}


.iconescabecalho {
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
}

.iconescabecalho a {
    color: rgb(20, 20, 20);
}

.iconescabecalho a:hover {
    transition: transform 0.3s ease-in-out;
        transform: scale(1.5);
        display:inline-table
}
